{% extends "header.html" %}
{% block content %}
    <h3>Список соревнований по художественной гимнастике</h3>
    {% for competition in object_list %}
        <h4><a href="/competitions/{{competition.id}}"> {{ competition.title }}</a> {{ competition.start|date:"Y" }} </h4>
        <p>Дата проведения: {{ competition.start }} - {{ competition.end }}</p>
        <p>Место проведения: {{ competition.place }}</p>
{#        <h6>Организатор: {{ competition.organizer }}</h6>#}
    {% endfor %}
{% endblock %}