{% extends "header.html" %}
{% block content %}
    <blockquote>rhythmicgymnastics - веб-приложение для обслуживания соревнований по художественной гимнастике</blockquote>
    <p>В настоящее время, приложение создаётся и тестируется для обслуживания соревнований по художественной гимнастике.</p>
    <p>Приложение предназначено для организаторов, главных судей и секретарей, проводящих соревнования международного, всероссийского, районного или клубного уровня среди профессионалов или любителей, взрослых, детей, юниоров или ветеранов.</p>
    <h3>Общая характеристика</h3>
    <p>rhythmicgymnastics - веб-приложение для проведения соревнований. Поддерживает следующие функции: регистрация участников, жеребьёвка, подсчёт очков и выявление победителей.</p>
    <p>Приложение обеспечивает компактное хранение, быструю сортировку и фильтрацию данных, ручную модерацию на различных этапах и т.д.</p>

    {% include 'includes/htmlsnippet.html' %}
{% endblock %}